<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

p {
  font-family: helvetica;
  font-size: 20px;
}
</style>
</head>
<body>

<h1> class = "center">HOMEPAGE - About Me</h1>
<hr>
  
  
</body>
</html>


   
  
