<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
<style>

body {
    background-color: White;
}

.bottom a {
    color: White;
    padding: 20px 20px;
    text decoration: none;
    font-size: 17px;
}

.bottom a:link, a:visited {
    background-color: DodgerBlue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.bottom a:hover, a:active {
  background-color: rgb(30, 144, 255, 0.5);
}

.bottom {
    text-align: center;
    font-family: "Abel";
}

.Portfolio_Resources {
    text-align: center;
}

h1 {
    background-color: DodgerBlue;
    color: White;
    text-align: center;
    font-family: 'Abel';font-size: 40px;

</style>
  
<h1>Portfolio</h1>

<div class="Portfolio_Resources"
    <a href="https://1drv.ms/w/s!Aq7GCF2BREFEnRAkSm5Zd1C-qNza?e=MYyAKj">
    <img src="https://pic.onlinewebfonts.com/svg/img_453992.png" alt="Yuli's Resume" style="width: 25%; height: 25%;">
    <a href="https://github.com/yulizhu0">
    <img src="https://pngimg.com/uploads/github/github_PNG40.png" alt="Yuli's Github" style="width: 25%; height: 25%;">
    </a>
 
</p>
  
<div class="bottom">
    <a href="#purpose.css">Back</a>
    <a href="#index.css">Home</a>
    <a href="#contact.css">Next</a>
</div>
 
</body>
</html>
